@import "~antd/dist/antd.css";

.App {
  min-height: 100vh;
}

.logo {
  height: 32px;
  margin: 16px;
  background: rgba(200, 167, 212, 0.3);
}

.bg-white {
  background-color: rgb(166, 124, 237);
}

.bg-dark {
  background-color: #001529;
}
